<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="login-brand">
            <img src="../assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
          </div>
          <div class="card card-primary">

            <!-- HOME LOGIN -->
            <div class="card-header" *ngIf="optionLogin === 'home_login'"><h4>Quem você é?</h4></div>
            <div class="card-body" *ngIf="optionLogin === 'home_login'">
              <form class="needs-validation" novalidate="">
                <div class="form-group">
                  <button (click)="openCouponList()" type="button"
                          class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Sou o Cliente
                  </button>
                </div>
                <div class="form-group">
                  <button (click)="changeLogin('login_employee')" type="button"
                          class="btn btn-secondary btn-lg btn-block" tabindex="4">
                    Sou o Restaurante
                  </button>
                </div>
              </form>
            </div>
            <!-- END HOME LOGIN -->

            <!-- LOGIN EMPLOYEE -->
            <div class="card-header" *ngIf="optionLogin === 'login_employee'"><h4>Login</h4></div>
            <div class="card-body" *ngIf="optionLogin === 'login_employee'">
              <form class="needs-validation" novalidate="">
                <div class="form-group">
                  <label for="employee_name">Nome</label>
                  <input id="employee_name" type="text" class="form-control" name="employee_name" tabindex="1" required
                         autofocus
                         #employee_name>
                </div>

                <div class="form-group">
                  <label for="employee_password" class="control-label">Senha</label>
                  <input id="employee_password" type="password" class="form-control" name="employee_password"
                         tabindex="2" required
                         #employee_password
                         (keyup.enter)="loginEmployee(employee_name.value,employee_password.value)">
                </div>
                <div class="form-group">
                  <button (click)="loginEmployee(employee_name.value,employee_password.value)" type="button"
                          class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Login
                  </button>
                </div>
                <div class="form-group">
                  <button (click)="changeLogin('home_login')" type="button"
                          class="btn btn-secondary btn-lg btn-block" tabindex="4">
                    Voltar
                  </button>
                </div>
              </form>
            </div>
            <!-- END LOGIN EMPLOYEE -->

            <!-- LOGIN USER -->
            <div class="card-header" *ngIf="optionLogin === 'login_user'"><h4>Login</h4></div>
            <div class="card-body" *ngIf="optionLogin === 'login_user'">
              <form class="needs-validation" novalidate="">
                <div class="form-group">
                  <label for="user_name">Nome</label>
                  <input id="user_name" type="text" class="form-control" name="user_name" tabindex="1" required
                         autofocus
                         #user_name>
                </div>

                <div class="form-group">
                  <label for="user_password" class="control-label">Senha</label>
                  <input id="user_password" type="password" class="form-control" name="user_password" tabindex="2"
                         required
                         #user_password
                         (keyup.enter)="loginUser(user_name.value,user_password.value)">
                </div>
                <div class="form-group">
                  <button (click)="loginUser(user_name.value,user_password.value)" type="button"
                          class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Login
                  </button>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <button (click)="changeLogin('register_user')" type="button"
                              class="btn btn-danger btn-lg btn-block" tabindex="4">
                        Cadastrar-se
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button (click)="changeLogin('home_login')" type="button"
                              class="btn btn-secondary btn-lg btn-block" tabindex="4">
                        Voltar
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- END LOGIN USER -->

            <!-- REGISTER USER-->
            <div class="card-header" *ngIf="optionLogin === 'register_user'"><h4>Registro</h4></div>
            <div class="card-body" *ngIf="optionLogin === 'register_user'">
              <form class="needs-validation" novalidate="">
                <div class="form-group">
                  <label for="new_name">Nome</label>
                  <input id="new_name" type="text" class="form-control" name="new_name" tabindex="1" required autofocus
                         #new_name>
                </div>
                <div class="form-group">
                  <label for="new_email">Email</label>
                  <input id="new_email" type="text" class="form-control" name="new_email" tabindex="1" required
                         autofocus
                         #new_email>
                </div>
                <div class="form-group">
                  <label for="new_cpf">CPF</label>
                  <input id="new_cpf" type="text" class="form-control" name="new_cpf" tabindex="1" required autofocus
                         #new_cpf>
                </div>
                <div class="form-group">
                  <label for="new_password" class="control-label">Senha</label>
                  <input id="new_password" type="password" class="form-control" name="new_password" tabindex="2"
                         required
                         #new_password
                         (keyup.enter)="registerUser(new_name.value,new_email.value,new_cpf.value,new_password.value)">
                </div>
                <div class="form-group">
                  <button (click)="registerUser(new_name.value,new_email.value,new_cpf.value,new_password.value)"
                          type="button"
                          class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Registrar
                  </button>
                </div>
                <div class="form-group">
                  <button (click)="changeLogin('login_user')" type="button"
                          class="btn btn-secondary btn-lg btn-block" tabindex="4">
                    Voltar
                  </button>
                </div>
              </form>
            </div>
            <!-- END REGISTER USER-->
          </div>
          <div class="simple-footer">
            Copyright &copy; Stisla 2018
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
