<section class="section">
  <div class="section-header">
    <h1>Vendas</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item">Vendas</div>
    </div>
  </div>

  <div class="section-body">
    <!--<h2 class="section-title">Table</h2>-->
    <!--<p class="section-lead">Example of some Bootstrap table components.</p>-->

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <a (click)="newSale()" class="btn btn-secondary">Nova Venda</a>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-striped table-md">
                <tr>
                  <th>Venda</th>
                  <th>Total</th>
                  <th>Pagemento</th>
                  <th>Status</th>
                  <!--<th>Data</th>-->
                  <th>Funcionário</th>
                  <th></th>
                </tr>
                <tr *ngFor="let sale of listSale">
                  <td><a href="#">{{ sale.id }}</a></td>
                  <td>{{ sale.total | currency:'BRL':true }}</td>
                  <td>{{ sale.payments ? sale.payments : ''}}</td>
                  <td>
                    <div class="badge badge-success">Pago</div>
                  </td>
                  <td class="font-weight-600">{{ sale.employee ? sale.employee.name : ''}}</td>
                  <!--<td>{{ sale.date }}</td>-->
                  <td>
                    <button type="button" (click)="detailSale(sale)" class="btn btn-primary">Detalhes
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <!--<nav class="d-inline-block">-->
            <!--<ul class="pagination mb-0">-->
            <!--<li class="page-item disabled">-->
            <!--<a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>-->
            <!--</li>-->
            <!--<li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#">2</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL SALE-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_sale">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhe Venda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-statistic-2">
          <div class="card-icon shadow-primary bg-primary">
            <i class="fa fa-credit-card" style="color: white;"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Forma de Pagamento</h4>
            </div>
            <div class="card-body">
              {{ model.payments }}
            </div>
          </div>
        </div>
        <div class="card card-statistic-2">
          <div class="card-icon shadow-primary bg-primary">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total</h4>
            </div>
            <div class="card-body">
              {{ model.total | currency:'BRL':true }}
            </div>
          </div>
        </div>
        <div class="section-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped table-md">
                      <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                      </tr>
                      <tr *ngFor="let cartProduct of model.cart.items">
                        <td>{{ cartProduct.product.name }}</td>
                        <td>{{ cartProduct.product.price| currency:'BRL':true }}</td>
                        <td>{{ cartProduct.quantity }}</td>
                        <td>{{ cartProduct.price| currency:'BRL':true }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card-footer text-right">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!--END MODAL SALE-->
