<section class="section">
  <div class="section-header">
    <h1>Estoque</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item">Estoque</div>
    </div>
  </div>

  <div class="section-body">
    <!--<h2 class="section-title">Table</h2>-->
    <!--<p class="section-lead">Example of some Bootstrap table components.</p>-->

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <a (click)="newStock()" class="btn btn-secondary">Novo Estoque</a>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-striped table-md">
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th></th>
                </tr>
                <tr *ngFor="let stock of listStock">
                  <td>{{ stock.product[0].name }}</td>
                  <td>{{ stock.quantity }}</td>
                  <td>
                    <!--<a (click)="editEmployee(employee)" class="btn btn-icon btn-primary" style="margin-right: 20px;"><i-->
                      <!--class="far fa-edit" style="color: white;"></i></a>-->
                    <!--<a (click)="onRemoveEmployee(employee.id)" class="btn btn-icon btn-danger"><i class="fas fa-times"-->
                                                                                                  <!--style="color: white;"></i></a>-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <!--<nav class="d-inline-block">-->
            <!--<ul class="pagination mb-0">-->
            <!--<li class="page-item disabled">-->
            <!--<a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>-->
            <!--</li>-->
            <!--<li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#">2</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL EMPLOYEE-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_stock">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Estoque</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Produto</label>
            <select class="form-control" id="search_category" name="search_category"
                    [(ngModel)]="product">
              <option *ngFor=" let product of listProduct" [value]="product.id">
                {{product.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Quantidade</label>
            <input type="text" class="form-control" id="quantity" name="quantity" [(ngModel)]="model.quantity">
          </div>
        </form>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="onSave()" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
<!--END MODAL EMPLOYEE-->
