<section class="section" style="margin: 30px;">
  <div class="section-header">
    <h1>Cupons</h1>
  </div>

  <div class="section-body">
    <h2 class="section-title">Cupons</h2>
    <p class="section-lead">
      {{listProduct.toString().length == 0 ? 'Não tem nenhum cupom por em quanto :(' : 'Todos os cupons disponíveis serão listados aqui.'}}
    </p>


    <div class="row sortable-card">
      <div class="col-12 col-md-6 col-lg-3" *ngFor="let product of listProduct">
        <div class="card card-primary">
          <div class="card-header">
            <h4>Cupom Nome</h4>
            <!--<h4>{{product.name}}</h4>-->
          </div>
          <div class="card-body">
            <p>Quantidade <code>5</code></p>
            <p>Duração <code>12/12/2019 - 20/12/2019</code></p>
            <p>Desconto <code>12.00</code></p>

            <!--<p>Quantidade <code>{{product.amount}}</code></p>-->
            <!--<p>Duração <code>{{product.date_start}} - {{product.date_end}}</code></p>-->
            <!--<p>Desconto <code>{{product.price}}</code></p>-->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
