<section class="section">
  <div class="section-header">
    <h1>Cupoms</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item">Cupoms</div>
    </div>
  </div>

  <div class="section-body">
    <!--<h2 class="section-title">Table</h2>-->
    <!--<p class="section-lead">Example of some Bootstrap table components.</p>-->

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body p-0" style="padding: 20px !important;">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text" class="form-control" id="term" name="term" placeholder="Pesquisa"
                         [(ngModel)]="search.term">
                </div>
              </div>
              <!--<div class="col-md-3">-->
              <!--<div class="form-group">-->
              <!--<label>Categoria</label>-->
              <!--<select class="form-control" id="search_category" name="search_category"-->
              <!--[(ngModel)]="search.category">-->
              <!--<option value="">Todas</option>-->
              <!--<option value="FOOD">FOOD</option>-->
              <!--<option value="DRINKS">DRINKS</option>-->
              <!--</select>-->
              <!--</div>-->
              <!--</div>-->
              <div class="col-md-3">
                <a (click)="getAllProduct(product)" class="btn btn-icon btn-primary" style="margin-top: 30px;"><i
                  class="fa fa-search" style="color: white;"></i></a>
              </div>
              <div class="col-md-3">
                <a (click)="newProduct()" class="btn btn-secondary" style="margin-top: 30px;" data-test-product-new-btn>Novo
                  Cupom</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-striped table-md">
                <tr>
                  <th>Nome</th>
                  <th>Data de início</th>
                  <th>Data de término</th>
                  <th>Quantidade</th>
                  <th>Preço</th>
                  <th></th>
                </tr>
                <tr *ngFor="let product of listProduct">
                  <td>{{ product.name }}</td>
                  <td>{{ product.date_start | date:'dd/MM/yyyy'}}</td>
                  <td>{{ product.date_end | date:'dd/MM/yyyy'}}</td>
                  <td>{{ product.amount }}</td>
                  <td>{{ product.price | currency:'BRL':true }}</td>
                  <td>
                    <a (click)="editProduct(product)" class="btn btn-icon btn-primary" style="margin-right: 20px;"
                       data-test-product-edit-btn><i
                      class="far fa-edit" style="color: white;"></i></a>
                    <a (click)="onRemoveProduct(product.id)" class="btn btn-icon btn-danger"
                       data-test-product-remove-btn><i class="fas fa-times"
                                                       style="color: white;"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <!--<nav class="d-inline-block">-->
            <!--<ul class="pagination mb-0">-->
            <!--<li class="page-item disabled">-->
            <!--<a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>-->
            <!--</li>-->
            <!--<li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#">2</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL EMPLOYEE-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_product">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cupom</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name"
                   data-test-product-name>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Data de início</label>
                <input type="date" class="form-control" id="date_start" name="date_start" [(ngModel)]="model.date_start"
                       data-test-product-date-start>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Data de término</label>
                <input type="date" class="form-control" id="date_finish" name="name" [(ngModel)]="model.date_end"
                       data-test-product-date-end>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Quantidade</label>
                <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="model.amount"
                       numberFormatter
                       typeFormat="only_number"
                       maxlength="10"
                       data-test-product-amount>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Preço</label>
                <input type="text" class="form-control" numberFormatter
                       typeFormat="money"
                       maxlength="10" id="price" name="price"
                       [(ngModel)]="model.price" data-test-product-price>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="onSave()" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
<!--END MODAL EMPLOYEE-->
