<section class="section">
  <div class="section-header">
    <h1>Funcionários</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item">Funcionários</div>
    </div>
  </div>

  <div class="section-body">
    <!--<h2 class="section-title">Table</h2>-->
    <!--<p class="section-lead">Example of some Bootstrap table components.</p>-->

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <a (click)="newEmployee()" class="btn btn-secondary" data-test-employee-new-btn>Novo Funcionário</a>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-striped table-md">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Admin</th>
                  <th></th>
                </tr>
                <tr *ngFor="let employee of listEmployee">
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ getAdmin(employee.admin) }}</td>
                  <td>
                    <a (click)="editEmployee(employee)" class="btn btn-icon btn-primary" style="margin-right: 20px;"
                       data-test-employee-edit-btn><i
                      class="far fa-edit" style="color: white;"></i></a>
                    <a (click)="onRemoveEmployee(employee.id)" class="btn btn-icon btn-danger"
                       data-test-employee-remove-btn-><i class="fas fa-times"
                                                         style="color: white;"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <!--<nav class="d-inline-block">-->
            <!--<ul class="pagination mb-0">-->
            <!--<li class="page-item disabled">-->
            <!--<a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>-->
            <!--</li>-->
            <!--<li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#">2</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL EMPLOYEE-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_employee">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Funcionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name"
                   data-test-employee-name>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email"
                   data-test-employee-email>
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password"
                   data-test-employee-password>
          </div>
          <div class="form-group">
            <label>Admin</label><br/>
            <input type="checkbox" id="admin" name="admin" [(ngModel)]="model.admin" data-test-employee-admin> Colocar
            como administrador
          </div>
        </form>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="onSave()" class="btn btn-primary" data-test-employee-save-btn>Salvar</button>
      </div>
    </div>
  </div>
</div>
<!--END MODAL EMPLOYEE-->
