<section class="section">
  <div class="section-header">
    <h1>Carrinho</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item">Carrinho</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-statistic-2">
        <div class="card-wrap">
          <div class="card-body">
            Produto
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Insira o Barcode"
                       [(ngModel)]="barcode" (keyup.enter)="onSearchProduct()">
              </div>
              <div class="form-group">
                <button type="button" (click)="onSearchProduct()" class="btn btn-primary" style="width: 100%;">Pesquisar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-statistic-2">
        <div class="card-wrap">
          <div class="card-body">
            {{ product.name ? product.name : 'Produto não encontrado' }}
            {{ product.id ? (product.price | currency:'BRL':true) : '' }}
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Insira o quantidade"
                       [(ngModel)]="quantity" (keyup.enter)="onAddProductCart()">
              </div>
              <div class="form-group">
                <button type="button" (click)="onAddProductCart()" class="btn btn-primary" style="width: 100%;">Adicionar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-statistic-2">
        <div class="card-icon shadow-primary bg-primary">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Total</h4>
          </div>
          <div class="card-body">
            {{ model.total | currency:'BRL':true }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" (click)="finishSale()" class="btn btn-primary"
                  style="float: right; height: 50px; width: 100%;">Finalizar
            Compra
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="section-body">
    <!--<h2 class="section-title">Table</h2>-->
    <!--<p class="section-lead">Example of some Bootstrap table components.</p>-->

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-striped table-md">
                <tr>
                  <th>Produto</th>
                  <th>Preço</th>
                  <th>Quantidade</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                <tr *ngFor="let cartProduct of model.items">
                  <td>{{ cartProduct.product.name }}</td>
                  <td>{{ cartProduct.product.price| currency:'BRL':true }}</td>
                  <td>{{ cartProduct.quantity }}</td>
                  <td>{{ cartProduct.price| currency:'BRL':true }}</td>
                  <td>
                    <a (click)="onRemoveCartProduct(cartProduct.id)" class="btn btn-icon btn-danger"><i
                      class="fas fa-times"
                      style="color: white;"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL EMPLOYEE-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_cart">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Finalizar Venda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-statistic-2">
          <div class="card-icon shadow-primary bg-primary">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total</h4>
            </div>
            <div class="card-body">
              {{ model.total | currency:'BRL':true }}
            </div>
          </div>
        </div>
        <form>
          <div class="form-group">
            <label>Forma de Pagamento</label>
            <select class="form-control" id="category" name="category" [(ngModel)]="sale.payments">
              <option value="DINHEIRO">DINHEIRO</option>
              <option value="CARTAO">CARTAO</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="onSaveSale()" class="btn btn-primary">Finalizar</button>
      </div>
    </div>
  </div>
</div>
<!--END MODAL EMPLOYEE-->
