/* You can add global styles to this file, and also import other style files */
#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #6777ef;
  border-top: 8px solid #e1e5e8;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

#modal_loading {
  background-color: #6c757d80;
}

#modal_loading_content {
  position: fixed;
  background-color: #e1e5e8;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 40%;
}
